.galery {
  width: 900px;
  height: auto;
  background-color: var(--clear);
  margin: 0 auto;
  position: relative;
  top: -100px;
  padding: 40px;
}

.galery h2 {
  text-transform: uppercase;
  color: var(--secon-dark);
  text-align: center;
  font-size: 2em;
  margin-bottom: 30px;
}

.galery__container {
  display:flex;
  border-top: 1px solid var(--secon-main);
  justify-content: center;
}

.galery__container img{
  padding: 10px;
  transition: .5s;
}

.galery__container img:hover{
  box-shadow: var(--shadow);
}

.galery__item {
  width: 900px;
  height: 120px;
  border: 1px solid black;
  margin: 10px auto;
}

.galery__item-board{
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  height: 200px;
  width: 200px;
  margin: 10px;
}

.galery__item-gpu {
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  height: 200px;
  width: 200px;
  margin: 10px;
}

.galery__item-case {
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  height: 200px;
  width: 200px;
  margin: 10px;
}

.galery__item-cooler {
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  height: 200px;
  width: 200px;
  margin: 10px;
}
