.footer {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
}

.footer p{
  margin: 10px 30px;
  color: var(--secon-dark);
}

.footer p:hover {
  font-weight: 600;
}

.footer__span-logo,
.footer__span-link {
  width: auto;
  height: 30px;
  margin: 0 20px;
  margin-bottom: 0;
  opacity: .5;
  transition: .3s;
  border-radius: 10px 10px 0 0;
  background-color: var(--clear);
}

.footer__span-logo:hover,
.footer__span-link:hover{
  opacity: 1;
  border-top: 1px solid var(--secon-main);
}
